{% extends "header.html" %}
{% block content %}
  
      <article>
        <div class="container">
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Anomaly Detection for IBM Stock price</h1>
                </div>
            </div>

            <hr>

            <div id="reactEntry">
            </div>
        </div>
        <!-- Center Column -->
        <!--/container-fluid-->
    </article>  
    <div id="reactEntry">
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>

<!-- Footer -->
{% endblock %}
