<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JI-DataPipeline</title>
    <link rel="stylesheet" type="text/css" href="{{ style }}">
</head>

<body class="body">

  <header class="header" id="header">
      <span class="azure">
        <span class="title">
            <a href="/">Deep Learning for Anomaly Detection</a>
        </span>
        <span class="fl_right">
            <span class="middle">
                <nav>
                    <a href="/Power">Power</a>
                    <a href="/Stock">Stock</a>
                    <!-- <a href="/Covid-19">Covid-19</a> -->
                    Covid-19
                </nav>
            </span>
        </span>
      </span>
  </header>


  <div id="main">



    <nav>
        <a href="http://en.sjtu.edu.cn/academics/schools/the-um-sjtu-joint-institute/">UM-SJTU Joint Institute</a>
        <a href="https://www.datapipeline.com/">Beijing DataPipeline Limited</a>
<!--        Diagram<br>-->
<!--        History<br>-->
<!--        Responsibility<br>-->
<!--        Rules<br>-->
    </nav>

  <!-- Load JavaScript -->
  {% block content %}{% endblock %}


  </div>




</body>

</html>
  

