{% extends "header.html" %}
{% block content %}


<div class="container">
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">  	    Welcome to the dsign project by         <a href="http://en.sjtu.edu.cn/academics/schools/the-um-sjtu-joint-institute/">UM-SJTU Joint Institute</a>sponsored by         <a href="https://www.datapipeline.com/">Beijing DataPipeline Limited</a> 
					</h1>
                </div>
                <div class="col-lg-12">
                    <h2>  	        View example for 

					</h2>
					<h3>
						
						<a href="/Power">Power</a>
					   	<br>
					   	<a href="/Stock">Stock</a>
                        <br>
                        <a href="/StockInput">Stock Input</a>
					</h3>
                </div>
            </div>

            <hr>


<!-- Footer -->
{% endblock %}
