* {
    box-sizing: border-box;
}
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    flex: 1;
}
#main > article {
    flex: 1;
}
#main > nav {
    flex: 0 0 13vw;
    background: rgba(187, 187, 187,0.5);
}

#main > nav {
    order: -1;
}

.header{
    background: rgb(14, 14, 14);
    height: 10vh;
    padding: 1em;
}

.header, article, nav{
    padding: 1em;
}

.azure {
    color: azure;
}
.title {
    font-size: xx-large;
}
.fl_right {
    float: right;
}
.middle {
    vertical-align: middle;
}